<%= form_for(@volunteer) do |f| %>
  <% if @volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% @volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="area">
		<div class="area_row">
  		<div class="area_slots">
    		<%= f.label :first_name %><br />
    		<%= f.text_field :first_name %>
  		</div>
  		<div class="area_slots">
    		<%= f.label :last_name %><br />
    		<%= f.text_field :last_name %>
  		</div>
		</div>
		<div style="clear: both;" />
		<div class="area_row">
  		<div class="area_slots">
    		<%= f.label :nick_name %><br />
    		<%= f.text_field :nick_name %>
  		</div>
  		<div class="area_slots">
    		<%= f.label :email %><br />
    		<%= f.email_field :email, :value => current_user.email %>
			</div>
		</div>
		<div style="clear: both;" />
		<div class="area_row">
  		<div class="area_slots">
    		<%= f.label :phone %><br />
    		<%= f.phone_field :phone %>
  		</div>
  		<div class="area_slots">
    		<%= f.label :shirt_size %><br />
    		<%= f.text_field :shirt_size %>
  		</div>
		</div>
		<div style="clear: both;" />
		<div class="area_row">
  		<div class="area_slots">
    		<%= f.label :city %><br />
    		<%= f.text_field :city %>
  		</div>
  		<div class="area_slots">
    		<%= f.label :state %><br />
    		<%= f.text_field :state %>
  		</div>
		</div>
		<div style="clear: both;" />
		<div class="area_row">
  		<div class="area_slots">
    		<%= f.label :organization %><br />
    		<%= f.text_field :organization %>
  		</div>
  		<div class="area_slots">
    		<%= f.label :level %><br />
    		<%= f.text_field :level %>
  		</div>
		</div>
		<div style="clear: both;" />
	</div>
	<br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
