<%= form_tag(volunteer_send_emailer_path) do %>
	<h3> Create Text Message </h3>
	<% unless @volunteer_event_ids.blank? %>
					<span> Send the following volunteers an update:
						<% @volunteer_event_ids.each do |volunteer_event_id| %>
							<% volunteer_event = VolunteerEvent.find(volunteer_event_id) %>
							<% if volunteer_event.has_volunteer %>
								<% volunteer = volunteer_event.volunteer %>
								<% display = "#{volunteer.nick_name}(#{volunteer.phone})" %>
								<%= label_tag 'volunteer', "#{display} | " %>
							<% end %>
						<% end %>
					</span>
					<p>Message:
						<br/>
						<%= text_area_tag 'message', nil, :rows => 5, :cols => 75 %>
					</p>
		<br/>
		<%= button_tag "Send Alerts" %>
	<% else %>
		<span> There are no volunteers selected! </span>
	<% end %>	
<% end %>
<br/>
<%= link_to 'Back', event_path(@event.id) %>
