<p>
  <h2><%= "#Availability for #{@event.name} on #{@event.start_date}" %></h2>
</p>

<p id="notice"><%= notice %></p>

<br/><br/>

<div class="page">
<fieldset>
	<legend><h3>Time Slots</h3></legend>
	<p>
		<b>Select the village you are volunteering in:</b><br/>
		<% if !@villages.blank? %>
			<% @villages.each do |village| %>
  		  <% display = "#{village.name} Village" %>
				<%= check_box_tag 'villages[]', village.id %> 
				<%= label_tag 'village', "#{display}" %>		
				<br/>
			<% end %>
		<% end %>
	</p>
	<p>
		<b>Add the time slots you are NOT availabile during the conference</b>
		<div class="area">
		<% t_width = (730/(@num_days + 1)).to_i %>
		<div class="area_row">
			<% (0 .. @num_days).each do |i| %> 
				<% current_date = @event.start_date + i %>
				<% current_date_s = current_date.strftime("%A, %b %d %Y") %>
				<% current_avail = ActiveSupport::JSON.decode(@avails_array[i]) %>
				<div class="area_slots" style="width: <%= t_width %>px;">
					<%= "#{current_date_s}" %> 
					<ol style="margin-left: -20px;">
						<% current_avail.each do |avail| %>
							<% start_t = Time.parse(avail['start_time']).strftime("%I:%M%p") %>
							<% end_t = Time.parse(avail['end_time']).strftime("%I:%M%p") %>
							<% a_id = avail['id'] %>
							<li>
								<%= link_to "#{start_t} to #{end_t}", edit_avail_path(a_id), :remote => true %>
							</li>
						<% end %>
						<li>
							<%= link_to 'New Slot', new_avail_path(:current_date => current_date, :event_id => @event.id), :remote => true %>
						</li>
					</ol>
				</div>
			<% end %>
		</div>
	</div>
</fieldset>

<br/>

<div id="temp_area"></div>

<script style="text/javascript">
	$(document).ready( function() {
		activate_ajax("Update/Add");
	});
</script>
