<p>
  <h2><%= "Availability for #{@volunteer.nick_name} at #{@event.name} on #{@event.start_date}" %></h2>
</p>

<%= form_tag(save_volunteers_to_area_path) do %>
<%= hidden_field_tag :volunteer_event_id, @volunteer_event.id %>
<%= hidden_field_tag :event_id, @event.id %>
<div class="page">
<fieldset>
	<legend><h3>Time Slots</h3></legend>
	<p>
		<b>Select the village you are volunteering in:</b><br/>
		<% if !@villages.blank? %>
			<% @villages.each do |village| %>
				<div class="local">
  		  <% display = "#{village.name} Village" %>
				<% is_checked = @volunteer_event.event.villages.include? village %>
				<%= check_box_tag 'villages[]', village.id, is_checked %> 
				<%= label_tag 'village', "#{display}" %>
				<span class="local_toggle"></span>
				<br/>
				</div>
			<% end %>
		<% end %>
	</p>
	<p>
		<b>Add the time slots you are NOT availabile during the conference</b>
		<div class="area">
		<% t_width = (730/(@num_days + 1)).to_i %>
		<div class="area_row">
			<% (0 .. @num_days).each do |i| %> 
				<% current_date = @event.start_date + i %>
				<% current_date_s = current_date.strftime("%A, %b %d %Y") %>
				<% current_avail = ActiveSupport::JSON.decode(@avails_array[i]) %>
				<div class="area_slots" style="width: <%= t_width %>px;">
					<%= "#{current_date_s}" %> 
					<ol style="margin-left: -20px;">
						<% current_avail.each do |avail| %>
							<% start_t = Time.parse(avail['start_time']).strftime("%I:%M%p") %>
							<% end_t = Time.parse(avail['end_time']).strftime("%I:%M%p") %>
							<% a_id = avail['id'] %>
							<li>
								<%= link_to "#{start_t} to #{end_t}", edit_avail_path(a_id), :remote => true %>
							</li>
						<% end %>
						<li>
							<%= link_to 'New Slot', new_avail_path(:current_date => current_date, :event_id => @event.id), :remote => true %>
						</li>
					</ol>
				</div>
			<% end %>
		</div>
	</div>
</fieldset>
<br/>
<%= button_tag "Submit Availability" %>
<br/>
<span>(You can change your availability all the way up untill the day before the conference)</span> 
<% end %>
<br/>

<div id="temp_area"></div>

<script style="text/javascript">
	$(document).ready( function() {
		activate_ajax("Update/Add");

		$(':checkbox').change( function (e) {
			if ($(e.target).is(':checked') == true) {
				get_areas(this);
			} 
			else {
				var $div = $(this).siblings('.local_toggle');
				$div.hide();
			}
		});

		$(':checkbox').each(function () {
			if ($(this).is(':checked') == true) {
				get_areas(this);
			}
		});
	});

	function get_areas(caller) {
		var $div = $(caller).siblings('.local_toggle');
		var url_string = '/areas/get_areas?village_id=' + $(caller).attr('value') + '&volunteer_event_id=' + $('#volunteer_event_id').val();
		$.get(url_string, function (data) {
			$div.html(' -> ' + data);
		});
		$div.show();
	}

</script>

