<%= form_for(@slot) do |f| %>
  <% if @slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% @slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
	<legend><h3>Slot Details</h3></legend>
  <div style="display:none;">
		<% if !params[:current_date].blank? %>
    	<%= f.text_field :start_date, :value => Date.parse(params[:current_date]) %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :start_time %>
		<br/>
  	<%= f.time_select :start_time, {:default => Time.now.beginning_of_day + 8.hours, :minute_step => 5, :ampm => true} %> 
	</div>
	<br/>
	<div class="field">
		<%= f.label :end_time %>
		<br/>
		<%= f.time_select :end_time, {:default => Time.now.beginning_of_day + 22.hours, :minute_step => 5, :ampm => true} %>
	</div>
	<br/>

	<div class="field">
		<%= f.label :required_shifts, 'Minimum shifts' %>
		<br/>
		<%= f.text_field :required_shifts, :size => "5" %>
	</div>
	<br/>
	<%= f.submit %>
</fieldset>
<br />
<% end %>
