<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
	<br/>
	<div>
		<%= f.radio_button :user_type, 'organizer'	%>
		<%= label :user_type_organizer, 'Village Organizer' %>
		<%= f.radio_button :user_type, 'volunteer', :checked => true %>
		<%= label :user_type_volunteer, 'Volunteer' %>
	</div>

	<br/>
  <div><%= f.submit "Sign up" %></div>
<% end %>
<br/>
<%= render "links" %>
