<div class="page">
<br/>
<fieldset>
	<legend><h3>Conference Schedule</h3></legend>
	<table>
  	<tr>
    	<th style="width: 150px; text-align: left;">Name</th>
    	<th style="width: 100px; text-align: left;">Start date</th>
    	<th style="width: 100px; text-align: left;">End date</th>
    	<th style="width: 150px; text-align: left;">Actions</th>
</th>
  	</tr>

	<% @events.each do |event| %>
  	<tr>
    	<td><%= event.name %></td>
    	<td><%= event.start_date %></td>
    	<td><%= event.end_date %></td>
    	<td>
				<%= link_to 'Show', event %>
    		<%= link_to 'Edit', edit_event_path(event), :remote => true %>
    		<%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
  	</tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Conference', new_event_path, :remote => true %>
</fieldset>
</div>
<div id="temp_area"></div>

<script type="text/javascript">
	$(document).ready(function() { 
		$("table:eq(0) tr:odd").css("background-color", "#bbbbff");
		$("table:eq(0) tr:even").css("background-color", "#FFEEEE");
		$("table:eq(0) tr:eq(0)").css("background-color", "");

		activate_ajax('New Conference');
	});
</script>
