<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Shift Title (e.g. shift-leader)" %><br />
    <%= f.text_field :title %>
  </div>
		
  <div class="field">
    <%= label_tag "Volunteer Nick Name" %><br />
		<%= f.collection_select(:volunteer_id, @volunteers, :id, :nick_name, {:include_blank => true}) %> 
	</div>
	<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
