<h2>
	<%= "#{@village.name} Village at #{Event.get_name(@village.event_id)}" %>
</h2>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit Village', edit_village_path(@village), :remote => true %>  | 
<%= link_to "New Area", new_area_path(:village_id => @village.id), :remote => true %>

<br/><br/>
<% if !@areas.blank? %>
	<%= render :partial => 'areas/show', :locals => {:areas => @areas} %>
<% else %>
	<div class="page">
		<fieldset>
			<legend><h3>Areas</h3></legend>
			There are no Areas associated with this Village, please add one.
			<br/><br/>
			<%= link_to "New Area", new_area_path(:village_id => @village.id), :remote => true %>
		</fieldset>
	</div>
<% end %>

<br/>
<%= link_to 'Back to Conference', event_path(@village.event_id) %>

<div id="temp_area"></div>

<script type="text/javascript">
	$(document).ready( function () {
		activate_ajax('Add/Update');
	});
</script>
