<!DOCTYPE html>
<html>
<head>
  <title>Conference Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css" %>	
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Magra' %> 
</head>
<body>
	<div id="container">
		<div style="float: left; padding-left: 5px; position: absolute; top: 3em;">
			<br/>
			<br/>
			<% if user_signed_in? %>
				<span class="white"> Signed in as <%= link_to current_user.email, edit_user_registration_path %></span>
				<span class="white"> Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></span>
			<% else %>
				<span class="white"> 
					<%= link_to "Sign up", new_user_registration_path %> or 
					<!--<%= link_to "Sign in", '/#tabs1-dash'%> </span>-->
					<%= link_to "Sign in", new_user_session_path %></span>
			<% end %>
			<div style="display: inline-block; position: absolute; left: 500px; color: white; font-size: 30px; white-space: nowrap;">Locksport International</div>
		</div>
		<div style="float: right; position: relative; top: 1.em; padding-right: 5px;">
			<!--%= image_tag "CougarWare_Logo_red.png", :size => "300x100" %-->
			<%= image_tag "li_white.png", :size => "100x90" %>

		</div>
		<div style="clear: both;"></div>



